{% extends '_layout_/base.html' %}

{% block main %}
  <div class="hozSpacing03"></div>
  <div class="bkgimg logo"></div>

  <div class="hozSpacing01"></div>

  <div class="container loginBlock">

    <h2 class="form-signin-heading">Please sign in</h2>

    <input type="email" id="inputEmail" class="form-control" placeholder="User email" required autofocus>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <div class="hozSpacing01"></div>
    <button class="btn btn-lg btn-primary btn-block loginBtn">Log in</button>

    <div class="alert alert-danger errorAlert hidden">
      <strong>Error:</strong> Log in failed
    </div>

  </div> <!-- /container -->


  <style>

  .logo {
    background-image: url('{{ url_for('static',filename='image/logo.png') }}');
    width: 100%;
    height: 6rem;
    display: inline-block;
  }

  .menuBlock, .footerBlock {
    display: none;
  }

  body {
    padding-top: 40px;
    padding-bottom: 40px;
    {#background-color: #eee;#}
  }

  .loginBlock {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  </style>
{% endblock main %}


{% block onReadyJs %}
  <script>

  $('.loginBtn').click(function(){
    var email=$('#inputEmail').val();
    var password=$('#inputPassword').val();

    $.ajax({
      url: apiURL('auth/web/sign-in'),
      type: "post",
      data: {
        email: email,
        password: password,
      },
      success: function(response) {
        if (response.status == 0) { {#error occurred#}
          console.error(response.message);
        } else { {#succeeded -> open user home#}
          window.location.href = '{{ url_for('feed_index') }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
        }
      },
      error: function(jqXHR, exception) {
        ajaxErrorHandler(jqXHR, exception);
      }
    });

  });

  $('.logo').click(function(){
    window.location.href = '{{ url_for('app_index') }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
  });

  </script>
{% endblock onReadyJs %}