{% if comments is none or comments|length==0 %} {#the list is empty#}

  <div class="emptyFeed">Empty list for now</div>
  <div class="hozSpacing01"></div>

{% else %} {#the list is NOT empty#}

  {% for comment in comments %}

    {% set userAvatar = comment.user.avatar %}
    {% set commentText=comment.content %}
    {% set commentTime = friendlyTimestamp(comment.created_at) %}

    {% include 'feed/_comment-solo.html' %}

  {% endfor %}

{% endif %}
