<div class="commentRow">
  <div class="userAvatar" style="background-image:url('{{ userAvatar }}')"></div>
  <div class="commentTextBlock">
    <div class="commentText">
      {{ commentText }}
      <div class="commentTime createdAt">{{ commentTime }}</div>
    </div>
  </div>
</div>
