{% if likes is none or likes|length==0 %} {#the list is empty#}

  <div class="emptyFeed">Empty list for now</div>

{% else %} {#the list is NOT empty#}

  {% for like in likes %}
    {% set userAvatar = like.user.avatar %}
    {% set userName = like.user.usernameFromEmail() %}
    {% set likeTime = friendlyTimestamp(like.created_at) %}

    <div class="likeRow">
      <div class="userAvatar" style="background-image:url('{{ userAvatar }}')"></div>
      <div class="usernameBlock">
        <div class="userName">
          {{ userName }}
          <div class="likeTime createdAt">{{ likeTime }}</div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endif %}
