{% if posts is none or posts|length==0 %} {#the list is empty#}

  <div class="emptyFeed">Empty list for now</div>

{% else %} {#the list is NOT empty#}

  {% for post in posts %}
    {% set postBlock_id = 'post-' + post.id|string %}
    <div class="postBlock borderShadow-3D" id="{{postBlock_id}}" data-id="{{post.id}}">

      {#edit/delete icon#}
      {% if post.isOwner(currentUser()['id']) %}

        <div class="edit_deleteBlock">

          <img class="expandBtn"   src="https://s3-ap-southeast-1.amazonaws.com/nn-instafun/image/common/feed-layout/breadcrumb-left.png" >
          <img class="collapseBtn" src="https://s3-ap-southeast-1.amazonaws.com/nn-instafun/image/common/feed-layout/breadcrumb-right.png" >

          <div class="editBlock">
            <div class="edit-text">caption</div>
            <img class="edit-icon" src="https://s3-ap-southeast-1.amazonaws.com/nn-instafun/image/common/feed-layout/edit-icon.png">
          </div>

          <div class="rightSpacing01">&nbsp;</div>

          <div class="deleteBlock">
            <div class="delete-text">delete</div>
            <img class="delete-icon" src="https://s3-ap-southeast-1.amazonaws.com/nn-instafun/image/common/feed-layout/delete-icon.png">
          </div>

        </div>

        {#edit/delete icon#}
        <style>
          .edit_deleteBlock * {
            float: right !important;
          }
          .edit_deleteBlock * {
            color: #90949c;
          }
          .edit_deleteBlock {
            cursor: pointer;
          }

          .edit_deleteBlock img {
            width: 2rem;
            height: auto;
          }

          .edit_deleteBlock .editBlock,
          .edit_deleteBlock .deleteBlock,
          .edit_deleteBlock .collapseBtn {
            display: none;
          }
        </style>

      {% endif %}

      {#user_n_timeBlock#}
      <div class="user_n_timeBlock">
        <div class="userAvatar"></div>
        <div class="userEmail">{{ post.user.usernameFromEmail() }}</div>
        <div class="createdAt">{{ friendlyTimestamp(post.created_at) }}</div>

        <style>
          #{{ postBlock_id }} .userAvatar {
            background-image: url('{{ post.user.avatar }}') ;
          }
        </style>

      </div>
      <div class="hozSpacing01" style="clear:both"></div>

      {#descBlock#}
      <div class="descBlock">
        {#read-only desc#}
        <div class="descReadOnly">{{ post.description }}</div>

        {#update form desc#}
        <div class="updateDescForm" data-user_id="{{ currentUser()['id'] }}">
          <textarea type="text" class="description" placeholder="Write description...">{{ post.description }}</textarea>

          <div class="hozSpacing01"></div>

          <button type="button" class="btn btn-primary submitBtn">Save</button>
          <button type="button" class="btn btn-link cancelBtn">Cancel</button>

          <div class="hozSpacing01"></div>

          <style>
            .updateDescForm {
              display: none;
            }
            .updateDescForm .description {
              width: 100%;
            }
            .updateDescForm button {
              float: right;
            }
          </style>
        </div>

      </div>

      <div class="hozSpacing01"></div>

      {#imageBlock#}
      <img class="imageBlock" src="{{ post.thumbnail_url() }}" data-imageUrl="{{ post.image_url }}" >

      <div class="hozSpacing01"></div>


      {#like_n_commentBlock#}
      <div class="like_n_commentBlock">
        {#like count#}
        {% set likeCount = post.getLikeCount() %}
        {% set userHasLiked = post.isLikedBy(currentUser()['id']) %}
        <div class="likeBlock">
          <div class="heartIcon {{ 'liked' if userHasLiked else ''}}"></div>
          <div class="likeCount">
            <span class="likeCountValue">{{ likeCount }}</span>
            <span class="likeText">like{{ 's' if likeCount>0 else '' }}</span>
          </div>
        </div>

        {#comment count#}
        <div class="commentBlock">
          <div class="commentIcon"></div>
          {% set commentCount = post.getCommentCount() %}
          <div class="commentCount">
            <span class="commentCountValue"> {{ commentCount }}</span>
            <span class="commentText">comment{{ 's' if commentCount>0 else '' }}</span>
          </div>
        </div>

      </div>


      {#ensure above content be wrapped by the parent height#}
      <div style="clear:both"></div>

    </div>

    <div class="hozSpacing03" style="clear:both"></div>
  {% endfor %}

{% endif %}
