{% extends '_layout_/base.html' %}

{% block main %}

  {#the post listing#}
  <div class="allPostBlock"></div>
  <style>
    /*region post*/
    .allPostBlock {
      width: 100%;
      max-width: 50rem;

      {#make it center#}
      margin-right: auto;
      margin-left: auto;
    }

    .postBlock {
      padding: 3rem;
      padding-top: 1rem;
      padding-bottom: 3.5rem;
    }
      @media(max-device-width: 480px) {
        .postBlock {
          padding: 1.5rem;
        }
      }
    /*endregion post*/

    /*region user n time */
    .userAvatar { {#ref. https://stackoverflow.com/a/14348277/248616 https://stackoverflow.com/a/14446663/248616#}
      width: 100%;
      height: 100%;
      max-width: 4rem;
      max-height: 4rem;
      float: left;

      background-size: contain;
      background-repeat: no-repeat;
    }

    .userEmail {
      font-weight: bold;
      *margin-top: .5rem;
    }

    .createdAt {
      color: #90949c;
      font-size: 1.2rem;
    }
    /*endregion user n time */

    /*region image*/
    .imageBlock { {#ref. https://stackoverflow.com/a/14348277/248616 https://stackoverflow.com/a/14446663/248616#}
      width: 100%;
      {#we turn below off since using img tag instead of background-image #}
      /*
      height: 100%;
      max-height: 30rem;

      background-size: 100% auto;
      background-size: contain;

      background-repeat: no-repeat;
      background-position: center left;
      */
    }

    .photoFullScreen .modal-dialog {
      width: 100%;
      background-color: rgba(0,0,0,.9);
      margin: 0px;
    }

    .photoFullScreen .modal-body {
      padding: 0px;
      padding-top: 1rem;
      height: 100%;
    }
    .photoFullScreen .modal-content {
      *background-color: transparent;
      background-color: rgba(0,0,0,.5);
    }
    .photoFullScreen .modal-header {
      border-bottom: 0px;
      padding-bottom: 0px;
    }
    .modal.photoFullScreen {
      padding-right: 0px !important;
    }
    /*endregion image*/

    /*region like_n_commentBlock*/
    .like_n_commentBlock * {
      {#display: inline-block;#}
      float: left;
    }

    .heartIcon, .likeCount, .commentBlock {
      cursor: pointer;
    }

    .heartIcon.liked {
      background-image: url('https://s3-ap-southeast-1.amazonaws.com/nn-instafun/image/common/feed-layout/like-filled.png');
    }
    .heartIcon {
      background-image: url('https://s3-ap-southeast-1.amazonaws.com/nn-instafun/image/common/feed-layout/like.png');
    }
    .commentIcon {
      background-image: url('https://s3-ap-southeast-1.amazonaws.com/nn-instafun/image/common/feed-layout/comment.png');
    }

    .heartIcon {
      width: 2rem;
      height: 2rem;
      background-size: contain;
    }

    .commentIcon {
      width: 2rem;
      height: 2rem;
      background-size: contain;
    }

    .likeCount, .commentCount {
      margin-left: .5rem;
    }

    .commentBlock {
      margin-left: 2rem;
    }

    .likeCountValue, .commentCountValue {
      margin-right: .3rem;
    }
    /*endregion like_n_commentBlock*/

</style>

  {#the floating plus at the bottom to add new post#}
  <div class="newPostWrapper">
    <img class="newPostIcon" src="https://s3-ap-southeast-1.amazonaws.com/nn-instafun/image/common/feed-layout/plus-icon.png">
  </div>

  <style>
  /*region new post*/
  .newPostWrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  .newPostIcon {
    width: 4rem;
    height: auto;
  }
    @media(min-width: 480px) {
      .newPostIcon {
        width: 5rem;
      }
    }
  /*endregion new post*/

  </style>

  {#view image in full-screen via bootstrap modal ref. https://stackoverflow.com/a/25023822/248616#}
  <div class="modal fade photoFullScreen" tabindex="-1" role="dialog" aria-labelledby="pfsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {#the 'x' button to close at top right corner#}
          <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true" style="color: white;">&times;</span>
          </button>
          <h4 class="modal-title" id="pfsModalLabel">Full-screen image</h4>
        </div>

        <div class="modal-body" style="position: relative;  ">
          <img src="" class="imageToDisplay">
          <style>
            {#centering the image ref. https://stackoverflow.com/a/11716065/248616#}
            .photoFullScreen .imageToDisplay {
                max-width: 90%;
                max-height: 90%;

                position:absolute;
                top:0px; bottom:0px;
                right: 0px; left: 0px;
                margin: auto;
            }
          </style>
        </div>

        {#the footer - we hide it#}
        <div class="modal-footer hidden">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {#view comment listing in a popup#}
  <div class="modal fade commentListing" tabindex="-1" role="dialog" aria-labelledby="clModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {#the 'x' button to close at top right corner#}
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="clModalLabel">Comments</h4>
        </div>

        <div class="modal-body" style="text-align: center;">
          <div class="commentListToDisplay">
          </div>

          <div class="newCommentBlock">
            <div class="userAvatar" style="background-image:url('{{ currentUser()['avatar'] }}')"></div>
            <div class="newCommentForm" data-post_id="" data-user_id="{{ currentUser()['id'] }}">
              <textarea type="text" class="newCommentText" placeholder="Write a comment..."></textarea>
              <button type="button" class="btn btn-primary newCommentBtn">Send</button>
            </div>
          </div>

        </div>
        <style>
          .commentRow {
            padding-bottom: 1rem;
          }
          .commentRow .userAvatar, .commentRow .commentTextBlock {
            display: flex; {#TODO what special about flex mode?#}
          }
          .commentText {
            text-align: left;
          }

          .newCommentBlock {
            margin-bottom: 1rem;
          }
          .newCommentForm {
            display: flex;
          }
          .newCommentForm textarea {
            width: 100%;
          }
        </style>

        {#the footer - we hide it#}
        <div class="modal-footer hidden">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {#view like listing in a popup#}
  <div class="modal fade likeListing" tabindex="-1" role="dialog" aria-labelledby="llModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {#the 'x' button to close at top right corner#}
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="llModalLabel">Likes</h4>
        </div>

        <div class="modal-body" style="text-align: center;">
          <div class="likeListToDisplay">
          </div>
        </div>
        <style>
          .likeRow {
            padding-bottom: 1rem;
          }
          .likeRow .userAvatar, .likeRow .usernameBlock {
            display: flex; {#TODO what special about flex mode?#}
          }
          .likeRow .userName {
            text-align: left;
          }
          .likeListing .modal-dialog {
            width: 30rem;
          }
        </style>

        {#the footer - we hide it#}
        <div class="modal-footer hidden">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {#new post in a popup#}
  <div class="modal fade newPostPopup" tabindex="-1" role="dialog" aria-labelledby="nppModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          {#the 'x' button to close at top right corner#}
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="nppModalLabel">New post</h4>
        </div>

        <div class="modal-body" style="text-align: center;">
          <div class="userAvatar" style="background-image:url('{{ currentUser()['avatar'] }}')"></div>
          <div class="newPostForm" data-user_id="{{ currentUser()['id'] }}">
            <textarea type="text" class="newPostText" placeholder="Write a post..."></textarea>
            <button type="button" class="btn btn-primary newPostBtn">Save</button>
          </div>

          {#html5 file picker ref. https://www.wufoo.com/html5/types/14-file.html?#}
          <input class="imagePicker" type=file accept="image/*;capture=camera">
        </div>

        <style>
          .newPostForm {
            display: flex;
          }
          .newPostForm .newPostText {
            width: 100%;
          }
          .newPostPopup .imagePicker {
            margin-left: 4rem;
            margin-top: 1rem;
          }
        </style>

        {#the footer#}
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock main %}


{% block onReadyJs %}


  <script>
  {#initial feed content#}
  $(function(){
    loadPostFeed();
  });
  </script>


  <script>
  {#
  We handling clicking event here to manipulate page content
  Since the post feed is dynamically-created, we have to use .delegate() instead of normal .click() ref. https://stackoverflow.com/a/17401126/248616
  #}

  function showFullscreenImage(post_id, imageUrl) {
    {#assign the image to the modal to view#}
    $('.photoFullScreen .imageToDisplay').attr('src', imageUrl);
    $('.photoFullScreen .imageToDisplay').attr('data-post_id', post_id);

    {#show the modal#}
    $('.photoFullScreen').modal('show');
  }

  {#click full-screen popup area other than the image will close the popup ref. https://stackoverflow.com/a/9183467/248616#}
  $(document).delegate('.photoFullScreen .modal-body', 'click', function(e){
    if (e.target === this) {
      {#outside-image area clicked => close the popup#}
      $('.photoFullScreen').modal('hide');
    }
  });

  {#click an image to view it in full-screen#}
  $(document).delegate('.imageBlock', 'click', function(){

    var post_id = $(this).closest('.postBlock').attr('data-id');

    {#show full-screen by redirecting to full-screen route#}
    {#i.e. make the full-screen image has its own url - a feature by Hieu #}
    var url = "{{ url_for('feed_index_full_screen', post_id='') }}";
    url += post_id;
    console.log(url);
    window.location.href = url;

  });

  {#click like icon#}
  $(document).delegate('.heartIcon', 'click', function(){
    {#the parent like block#}
    var likeBlock = $(this).closest('.likeBlock');

    {#update like icon#}
    var likeIcon = $(this);
    likeIcon.toggleClass('liked');

    {#update like count value#}
    var likeCountValue = likeBlock.find('.likeCountValue');
    var newVal = parseInt(likeCountValue.text());
    var isLike = likeIcon.hasClass('liked')? 1:0;

    if (isLike==1) {
      newVal+=1;
    } else {
      newVal-=1;
    }
    likeCountValue.text(newVal);

    {#update like text#}
    var likeText = likeBlock.find('.likeText');
    var newText = 'like';
    if (newVal>0) {
      newText = 'likes';
    }
    likeText.text(newText);

    {#update like in db#}
    var postBlock = $(this).closest('.postBlock');
    var post_id = postBlock.attr('data-id');
    var user_id = '{{ currentUser()['id'] }}';
    $.ajax({
      url: apiURL('post/update-like'),
      type: "post",
      data: {
        user_id: user_id,
        post_id: post_id,
        isLike: isLike,
      },
      success: function(response) {
        if (response.status == 0) { {#error occurred#}
          console.error(response.message);
        }
      },
      error: function(jqXHR, exception) {
        ajaxErrorHandler(jqXHR, exception);
      }
    });

  });

  {#click like count#}
  $(document).delegate('.likeCount', 'click', function(){
    {#load like data#}
    var post_id = $(this).closest('.postBlock').attr('data-id');
    loadPopupLikeList(post_id);

    {#show the like listing popup#}
    $('.likeListing').modal('show');
  });

  {#click comment#}
  $(document).delegate('.commentBlock', 'click', function(){
    {#load comments#}
    var post_id = $(this).closest('.postBlock').attr('data-id');

    {#update comment list content#}
    loadPopupCommentList(post_id);

    {#update post_id for comment-listing#}
    $('.commentListToDisplay').attr('data-post_id', post_id);

    {#update post_id for new-comment form#}
    $('.newCommentForm').attr('data-post_id', post_id);

    {#show the comment listing popup#}
    $('.commentListing').modal('show');

  });

  {#submit new comment#}
  $(document).delegate('.newCommentBtn', 'click', function(){
    var post_id = $(this).closest('.newCommentForm').attr('data-post_id');
    var user_id = $(this).closest('.newCommentForm').attr('data-user_id');
    var commentText = $('.newCommentText').val();

    $.ajax({
      url: apiURL('post/add-comment'),
      type: "post",
      data: {
        post_id: post_id,
        user_id: user_id,
        commentText: commentText,
        resultAsHTML: 1,
      },
      success: function(response) {
        if (response.status == 0) { {#error occurred#}
          console.error(response.message);
        } else {
          {#update comment list with the new comment#}
          $('.commentListToDisplay').append(response.data)

          {#reset comment textbox#}
          $('.newCommentText').val('');

          {#update comment count in the feed#}
          var elemCommentCount = $('.postBlock#post-'+post_id+' .commentCountValue');
          var commentCount = elemCommentCount.html();
          commentCount = parseInt(commentCount);
          commentCount += 1;
          elemCommentCount.html(commentCount);
        }
      },
      error: function(jqXHR, exception) {
        ajaxErrorHandler(jqXHR, exception);
      }
    });

  });

  {#new post icon click#}
  $(document).delegate('.newPostIcon', 'click', function(){
    {#show the new-post popup#}
    $('.newPostPopup').modal('show');
  });

  {#submit new post#}
  $(document).delegate('.newPostBtn', 'click', function(){
    var description = $('.newPostText').val();

    {#get user_id#}
    var user_id = $(this).closest('.newPostForm').attr('data-user_id');


    {#create data for ajax call with uploaded file ref. http://blog.w3villa.com/websites/uploading-filesimage-with-ajax-jquery-without-submitting-a-form/   https://stackoverflow.com/a/5976031/248616 #}
    var uploadedImage = $('.newPostPopup .imagePicker').prop('files')[0];

    var formData = new FormData();
    formData.append('file', uploadedImage);
    formData.append('user_id', user_id);
    formData.append('description', description);

    {#do create new post#}
    $.ajax({
      url: apiURL('post/add'),
      type: "post",
      data: formData,
      contentType: false,
      processData: false,

      success: function(response) {
        if (response.status == 0) { {#error occurred#}
          console.error(response.message);
        } else {
          {#reset new-post textbox#}
          $('.newPostText').val('');

          {#reload page to update post list with the newly-added one#}
          reloadThisPage(response); {#TODO reload via ajax only - caution this costs A LOT of works #}
        }
      },
      error: function(jqXHR, exception) {
        ajaxErrorHandler(jqXHR, exception);
      }
    });

  });

  </script>


  <script>
  function loadPostFeed(){
    $.ajax({
      url: apiURL('post/list'), {#TODO only load the first 5 posts, other need to click on 'View more' to see#}
      type: "post",
      data: {
        resultAsHTML:1
      },
      success: function(response) {
        if (response.status == 0)  { {#error occurred#}
          console.error(response.message);
        } else {
          $('.allPostBlock').html(response.data);
        }
      },
      error: function(jqXHR, exception) {
        ajaxErrorHandler(jqXHR, exception);
      }
    });
  }


  function loadPopupLikeList(post_id){
    var elemLikeListPopup = $('.likeListToDisplay');

    {#get post_id from data-id when param not provided#}
    if (typeof post_id === 'undefined') {
      post_id = elemLikeListPopup.attr('data-post_id');
    } else {
      {#post_id param is available => use it#}
      elemLikeListPopup.attr('data-post_id', post_id); {#update the data-posot_id for later use#}
    }

    $.ajax({
      url: apiURL('post/get-like'),
      type: "post",
      data: {
        post_id: post_id,
        resultAsHTML:1
      },
      success: function(response) {
        if (response.status == 0)  { {#error occurred#}
          console.error(response.message);
        } else {
          elemLikeListPopup.html(response.data);
        }
      },
      error: function(jqXHR, exception) {
        ajaxErrorHandler(jqXHR, exception);
      }
    });
  }


  function loadPopupCommentList(post_id){
    var elemCommentPopup = $('.commentListToDisplay');

    {#get post_id from data-id when param not provided#}
    if (typeof post_id === 'undefined') {
      post_id = elemCommentPopup.attr('data-post_id');
    } else {
      {#post_id param is available => use it#}
      elemCommentPopup.attr('data-post_id', post_id); {#update the data-posot_id for later use#}
    }

    $.ajax({
      url: apiURL('post/get-comment'),
      type: "post",
      data: {
        post_id: post_id,
        resultAsHTML:1
      },
      success: function(response) {
        if (response.status == 0)  { {#error occurred#}
          console.error(response.message);
        } else {
          elemCommentPopup.html(response.data);
        }
      },
      error: function(jqXHR, exception) {
        ajaxErrorHandler(jqXHR, exception);
      }
    });
  }

  </script>


  <script>
    {#register listener to the 'sse' instance#}
    {#sse.stream is made from sse blueprint i.e. app.register_blueprint(sse, url_prefix='/stream') #} {#TODO Understand more on this#}
    var sse = new EventSource("{{ url_for('sse.stream') }}");

    {#error listner#}
    sse.addEventListener('error', function(event) {
      console.error('Error occurred while connect to SSE event stream');
    }, false);


    {#post-update listner#}
    $(function(){ {#we need jquery ready so as to update the html dom#}
      sse.addEventListener('post-update', function(event) {
        console.log('New post-update event received');

        {#live update post feed#}
        loadPostFeed();

        {#live update like-listing popup#}
        loadPopupLikeList();

        {#live update comment-listing popup#}
        loadPopupCommentList();
      }, false);
    });
  </script>


  {% include 'feed/_post.js.html' %}

  <script>
  {#handle param 'full_screen_post_id' - the fullscreen popup will show on startup #}
  $(function(){
    var full_screen_post_id = '{{ full_screen_post_id }}';
    var full_screen_image_url = '{{ full_screen_post.image_url if full_screen_post else '' }}';
    if (full_screen_post_id) { {#we show the popup for it#}
      showFullscreenImage(full_screen_post_id, full_screen_image_url);
    }
  });
  </script>

{% endblock onReadyJs %}