<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{{ config['APP_NAME'] }}</title>
    <link rel='icon' href='{{ url_for('static', filename='image/favicon.png') }}'>


    {#region css files#}
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='3rd-party/bootstrap-3.3.7-dist/css/bootstrap.css') }}'/>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/common.css') }}'/>
    {#endregion css files#}


    {#region js files at top#}

    {#
      HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
      WARNING: Respond.js doesn't work if you view the page via file://
    #}
    <!--[if lt IE 9]>
    <script src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js'></script>
    <script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'></script>
    <![endif]-->

    {#endregion js files at top#}

  </head>

  <body>
    {#menu#}
    {% include '_layout_/nav.html' %}

    {#main#}
    <div class="container-fluid mainBlock">
      {% block main %}main block{% endblock %}
    </div>

    {#footer#}
    {% include '_layout_/footer.html' %}

    {#region js files at the end#}
      <script src={{ url_for('static', filename='3rd-party/jquery-1.12.4-min.js') }}></script>
      <script src={{ url_for('static', filename='3rd-party/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}></script>
      <script src={{ url_for('static', filename='js/common.js') }}></script>
      {% include '_layout_/common.js.html' %}

      {% block onReadyJs %}{% endblock %}
    {#endregion js files at the end#}

  </body>
</html>
