<footer>

  <div class='container-fluid footerBlock'>
    <div class='container'>
      <div class="hozSpacing02"></div>
      <div class="footerCopyright">Copyright &copy; 2017 {{ config['APP_NAME'] }}</div>
    </div>
  </div>

</footer>

<style>
  .footerCopyright {
    color: darkgrey;
  }
</style>