{#bootstrap-based menu ref. https://getbootstrap.com/examples/navbar/ #}

<nav class="navbar navbar-inverse menuBlock">
  <div class="container-fluid">
    {# brand and hamburger #}
    <div class="navbar-header">
      {# hamburger menu #}
      <button type="button" class="navbar-toggle collapsed hamburgerMenu"
              data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {# brand logo #}
      <a class="navbar-brand" href="{{ config['page']['USER_HOME'] }}">
        <div class="bkgimg logo">
          <style>
            .logo {
              background-image: url('{{ url_for('static', filename='image/logo.png') }}');
              height: 3rem;
              width: 8rem;
            }
          </style>
        </div>
      </a>
    </div>

    {# menu items #}
    <div id="navbar" class="navbar-collapse collapse menuItemsWrapper">
      {# items on the left #}
      <ul class="nav navbar-nav menuItems">
      </ul>

      {# items on the right #}
      <ul class="nav navbar-nav navbar-right menuItemsR">
        <li class="dropdown">

          {#region Hi user! #}

          {#not logged in -> show Your Account#}
          {% if not hasLoggedIn() %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{ 'Your Account' }} <span class="caret"></span>
            </a>
          {% endif %}

          {#logged in#}
          {% if hasLoggedIn() %}
            {% set USER_FULLNAME = currentUser()['email'] %} {#ref. app.controller.api_controller.auth.auth_web_sign_in() #}

            {#print Hi customer! #}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Hi, {{ USER_FULLNAME }} <span class="caret"></span>
            </a>

          {% endif %}
          {#endregion Hi user! #}

          {# Account-based actions #}
          <ul class="dropdown-menu dropdownItems">
            {#region sign in#}
            {% if not hasLoggedIn() %}
              <li><a href="{{ url_for('auth_sign_in') }}">Sign in</a></li>
            {% endif %}
            {#endregion sign in#}

            {#region sign out#}
            {% if hasLoggedIn() %}
              <li role="separator" class="divider"></li>
              <li><a href="{{ url_for('auth_sign_out') }}">Sign out</a></li>
            {% endif %}
            {#endregion sign out#}

          </ul>

        </li>
      </ul>
    </div>
  </div>
</nav>