/*region README*/ /*
  goal
    drop border shadow as a 3D-separator

  syntax
    box-shadow: inset horizontal    vertical blur spread colour                      ;
    box-shadow: 0     10px          6px      -6px        #ccc;
    ref. https://paulund.co.uk/learn-css-box-shadow

    box-shadow:       none|h-shadow v-shadow blur spread color |inset|initial|inherit;
    box-shadow: 0     -2px          3px                  rgba(0,0,0,.5);
    ref. http://www.w3schools.com/cssref/css3_pr_box-shadow.asp */
/*endregion*/

/* dropped at top */
.borderShadow-top3D {
  -webkit-box-shadow: 0 -2px 3px rgba(0,0,0,.2);
     -moz-box-shadow: 0 -2px 3px rgba(0,0,0,.2);
          box-shadow: 0 -2px 3px rgba(0,0,0,.2);
}

.borderShadow-top3D-alpha5 {
  -webkit-box-shadow: 0 -2px 3px rgba(0,0,0,.5);
     -moz-box-shadow: 0 -2px 3px rgba(0,0,0,.5);
          box-shadow: 0 -2px 3px rgba(0,0,0,.5);
}

/*region dropped at bottom ref. effect 6 @paulund*/
  /*ref. https://paulund.co.uk/learn-css-box-shadow*/

  .borderShadow-bottom3D {
    position:relative;

    -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  .borderShadow-bottom3D:before, .borderShadow-bottom3D:after {
    content:"";
    position:absolute;
    z-index:-1;

    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
       -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
            box-shadow:0 0 20px rgba(0,0,0,0.8);

    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
  }
/*endregion*/

.borderShadow-3D {
  -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.borderShadow-3D-GREEN {
  -webkit-box-shadow:0 2px 4px rgba(0, 255, 0, 0.3), 0 0 40px rgba(0, 255, 0, 0.1) inset;
     -moz-box-shadow:0 2px 4px rgba(0, 255, 0, 0.3), 0 0 40px rgba(0, 255, 0, 0.1) inset;
          box-shadow:0 2px 4px rgba(0, 255, 0, 0.3), 0 0 40px rgba(0, 255, 0, 0.1) inset;

  background: rgba(0,255,0,.1);
  background: #0086F8;
}

.borderShadow-simple {
  border: 1px solid #eee
}