@import 'border-shadow.css';

* {
  *border: 1px solid rgba(0,122,0,.5);
}

.bkgimg {
  height: 100%;
  width: auto;
  background-size: contain;

  background-repeat: no-repeat;
  background-position: center center;
}


/*region vertical spacing */
.rightSpacing01 {
  margin-right: 1rem;
}

.rightSpacing02 {
  margin-right: 2rem;
}
/*endregion vertical spacing */


/*region horizontal spacing */
.hozSpacing01 {
  height: 1rem;
}

.hozSpacing02 {
  height: 2rem;
}

.hozSpacing03 {
  height: 3rem;
}
/*endregion horizontal spacing */


.btn {
  border-radius: 2px;
}