{% extends '_layout_/base.html' %}

{% block main %}
  <div class="bkgimg intro"></div>
  <style>

  .intro {
    background-image: url('{{ url_for('static',filename='image/logo.png') }}');
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  body {
    background-color: rgba(0,0,0,1); {#TODO use color varialbe via `less css` http://lesscss.org/#}
  }

  .menuBlock, .footerBlock {
    display: none;
  }

  </style>
{% endblock main %}


{% block onReadyJs %}
  <script>
  $('.intro').click(function(){
    window.location.href = '{{ url_for('auth_sign_in') }}'; {#ref. http://stackoverflow.com/a/506004/248616#}
  })
  </script>
{% endblock onReadyJs %}