<!DOCTYPE html>
<html>

<body>
  <h1>Flask-SSE Hello Listener</h1>

  <script>
    {#register listener to the 'sse' instance#}
    {#sse.stream is made from sse blueprint i.e. app.register_blueprint(sse, url_prefix='/stream') #} {#TODO Understand more on this#}
    var source = new EventSource("{{ url_for('sse.stream') }}");

    {#error listner#}
    source.addEventListener('error', function(event) {
      alert('Error occurred while connect to SSE event stream');
    }, false);


    {#hello listner#}
    source.addEventListener('greeting', function(event) {
      var data = JSON.parse(event.data);
      alert('The server says ' + data.message);
    }, false);

  </script>

</body>

</html>